::ng-deep {
  ngx-charts-line-chart {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ng-star-inserted {
    font-size: 25px !important;
  }
}

.label-date {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #666666;
    position: relative;
    top: -20px;
  }
